@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
    font-family: 'Akaya Telivigala', cursive;
}

:root{
    --primary-color : #eab676;  
    --secondary-color : #1e81b0;
}


body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--primary-color);
    color: black;
}
div{
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    top: 33vh;
}

main {
    text-align: center;
    /* height: 65%; */
    margin-top:15%;
    width: 35%;
    /* background-color: #1e81b0; */
    margin: auto;
    position: relative;
    top: vh;
    border: 1px solid black;

}

p {
    /* padding: 2rem; */
    text-align: left;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

#show-btn {
    
    background-color: transparent;
    border: 2px #1e81b0 solid ;
    border-radius: .5rem;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem;
    font-weight: bolder;
}

#bday-input{
    width: 35%;
    height: 5%;
    font-size: large;
    font-weight: bold;
    border: none;
    outline: none;
}